<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prog.teampoule.applitest">

    <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.activity_HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.activity_MatchAleatoire" />
        <activity android:name=".Activity.activity_Patinoire" />
        <activity
            android:name=".Activity.activity_Equipes"
            android:label="@string/title_activity__equipes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.activity_Calendrier"/>
        <activity android:name=".Activity.activity_Conseils"/>
        <activity android:name=".Activity.activity_Conseils_Item_Details"/>
        <activity android:name=".Activity.activity_Default"/>
        <activity android:name=".Activity.activity_MiniJeu"/>
    </application>

</manifest>